/*-------------Base Element Styles-------------*/

*{
    box-sizing: border-box;
}

body {
	font-family: 'Tangerine', serif;
	line-height: 1.3;
	background-color: #f7f5f0;
}

body {
    line-height: 1.5;
    background-color: #fff;
    color: #3a3a3a;
	text-align: center;
	font-size: 0.9em;
	width: 100%;
	margin: 0;
}




h1,
h2,
h3,
p {
	text-align: center;
	font-size: 1.1em;
	font-family:  Helvetica, Arial, san-serif;
	line-height: 1.3;
	
}





ul {
	width: 100%;
	margin: 0 auto;
	padding: 0px 15px;
	list-style: none;
	padding: 0;
}



a:link {
	  color: rgb(128, 73, 255);
	  text-decoration: none;
	}

.profile-picture {
    max-width: 300px;
	padding: 1em 1em;
}

img {
    width: 100%;
}





/* ================================= 
  Base Layout Styles
==================================== */

.main-header {
    margin-top: 0;
	padding-bottom: 20px;
	background: #fffafe;
	padding-top: .8em;
	text-align: center;
}


.portfolio-01,
.portfolio-02,
.portfolio-03,
.portfolio-04,
.portfolio-05,
.portfolio-06 {
	max-width: 700px;
	padding: 16px 20px;
	margin-right: 0;
	
}

.main-nav {
	width: 100%;
	
}


.main-nav li {
	display: inline;
	padding: 5px;
	margin: 1em 1em;
	
}
 
.container {
	padding-left: 1em;
	padding-right: 1em;
}

.main-footer {
	
	font-size: 16px;
	border-top: 1px solid black;
	width: 95%;
	margin: 0 auto;
	padding: 1em 0;
}

#botton-name {
	text-align: left;
}


.main-footer {
	text-align: right;
}


.main-footer,
.footer.nav,
.footer-nav li {
	display: inline-block;
}


.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}







/* ================================= 
  Media Queries
==================================== */


@media (min-width: 768px) {

	.container {
		
			width: 90%;
			margin: 0 auto;
			
		 }

	.profile-pic {
		float: right;
        width: 200px;
		margin: 5px 10px;
		padding: 10px;
	}


	

	.profile-p {
		width: 280px;
    	margin-top: 0;
		margin-bottom: 40px;
		
	}

	 
	
	 .col-1,
	 .col-2,
	 .col-3,
	 .col-4,
	 .col-5,
	 .col-6 {
	    float: left;
		width: 50%;
		min-height: 250px;
		margin: 15px 0;
	}


		
 }

@media (max-width: 1025px) {
	.container {
		width:80%;
		margin: 0 auto;
		max-width: 1050px;
 	}

 	.name {
	float: left;
	margin: 25px;
	padding: 10px;
  	}
  
	li {
	  margin-right: 0;
	}
  
	.main-nav {
	  width: 50%;
	  float: right;
	}
  
	.profile-pic {
		float: right;
        width: 300px;
		padding: 40px;
	
	}

	.profile-p {
		font-size: 20px;
	}
  
	

	.col-1,
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6 {
		float: left;
		width: calc(30% - 20px);
		min-height: 375px;
		margin-bottom: 0;
	  }

	}	  